.authContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.authSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 700px;
    background-color: var(--white);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px var(--grey);
}

.logo {
    width: 65px;
    height: 65px;
    margin: 50px 20px 20px 20px;
}

.authHeader {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}

.authInputContainer {
    display: flex;
    min-width: 85%;
    margin: 30px 20px 0 20px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-bottom-color: var(--dark-grey); 
}

.authInputContainerError {
    border-bottom-color: #f56262; 
}

.authInput {
    margin: 0 15px;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    color: var(--black);
}

.authInput::placeholder {
    color: var(--dark-grey);
}

.authError {
    color: #f56262;
}

.authError::placeholder {
    color: #f56262;
}

.authErrorLabel {
    margin: 5px;
    font-size: 12px;
    color: #f56262;
}

.authButton {
    min-width: 85%;
    height: 50px;
    background-color: var(--blue);
    border-radius: 10px;
    font-size: 18px;
    color: var(--white);
    margin: 40px 0;
}

.authText {
    display: flex;
    font-size: 14px;
}

.authText a {
    box-sizing: border-box;
    font-weight: normal;
    display: block;
    font-size: 14px;
    margin: 0 0 0 5px;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: var(--blue);
    font-weight: 500;
    cursor: pointer;
}