@import './base.css';
@import './views/loginAndRegister.css';
@import './components/navbar.css';
@import './views/home.css';
@import './components/userCard.css';

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  all: initial;
}

.background {
  z-index: -1;
}